!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title <%= name.titleize %>
    %link{:rel => "stylesheet", :href => "css/main.css"}
  %body
    - @<%= name.pluralize %>.each do |<%= name %>|
      .<%= name.dasherize %>
        %h1
          = <%= name %>.title
        %p
          = <%= name %>.body
    .<%= name.dasherize %>
      %form{:action => "/", :method => "post", :class => "post"}
        %h1
          %input{:name => "title"}
        %p
          %textarea{:rows => 5, :name => "body"}
        %input{:type => "submit", :value => "add <%= name.humanize %>"}
